.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password {
  background-color: white;
  width: 50rem;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 3em;
}

.forgot-password-logo img {
  min-height: 30rem;
}

.forgot-password-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forgot-password-section-A {
  margin-bottom: 1rem;
}

.forgot-password-section-B input {
  min-height: 2.8rem;
  min-width: 19rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #f3f3f3;
  padding: 0.6rem;
  font-size: 1rem;
}

.forgot-password-error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  background-color: #ffe7e7;
  padding: 0.7rem;
  width: 92%;
  margin-top: 0.6rem;
  border-left: 3px solid red;
  border-radius: 0.8rem;
}

.forgot-password-button {
  min-height: 2.8rem;
  min-width: 19rem;
  border-radius: 0.8rem;
  border: none;
  background-color: black;
  color: #f3f3f3;
  font-size: 1.3rem;
}

@media (max-width: 1200px) {
  .forgot-password {
    height: auto;
    padding: 1rem;
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .forgot-password-logo img {
    max-height: 25rem;
  }

  .forgot-password-button {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .forgot-password-logo img {
    max-height: 20rem;
  }

  .forgot-password {
    width: 100%;
    max-width: none;
    height: auto;
    padding: 1rem;
  }

  .forgot-password-inputs {
    gap: 1rem;
  }

  .forgot-password-section-B input {
    font-size: 1rem;
  }

  .forgot-password-button {
    min-height: 2.5rem;
  }
}

@media (max-width: 480px) {
  .forgot-password-logo img {
    max-height: 15rem;
  }

  .forgot-password {
    width: 100%;
    padding: 1rem;
    height: auto;
    gap: 2rem;
  }

  .forgot-password-section-B input {
    min-height: 2.5rem;
  }

  .forgot-password-button {
    font-size: 1rem;
    min-height: 2.5rem;
  }
}
