.home-container {
  width: 100%;
}

/* NAVIGATION */
.nav-section {
  width: 100%;
  background-color: black;
}

/* SECTION A */
.section-A {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  background-image: url(./assets/Rectangle-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  gap: 3rem;
  padding-bottom: 3rem;
}

.section-A-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
  width: 60%;
  max-width: 800px;
  height: auto;
  padding: 2rem;
}

.section-A-middle-head-text {
  text-align: center;
  font-size: 3.5rem;
  color: whitesmoke;
  font-weight: 400;
  line-height: 1.2;
}

.section-A-middle-sub-text {
  text-align: center;
  font-size: 1.9rem;
  color: whitesmoke;
  opacity: 0.7;
  font-weight: 450;
}

.section-A-bottom {
  width: 85%;
  height: auto;
}

@media (max-width: 1024px) {
  .section-A-middle-head-text {
    font-size: 2.5rem;
  }

  .section-A-middle-sub-text {
    font-size: 1.5rem;
  }

  .section-A-middle {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .section-A-middle-head-text {
    font-size: 2rem;
  }

  .section-A-middle-sub-text {
    font-size: 1.3rem;
  }

  .section-A-middle {
    width: 90%;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .section-A-middle-head-text {
    font-size: 1.5rem;
  }

  .section-A-middle-sub-text {
    font-size: 1rem;
  }

  .section-A-middle {
    padding: 0.5rem;
  }
}




/* SECTION B */
.section-B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; 
  padding: 2rem; 
  gap: 2rem;
}

.section-B-top {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  width: 90%;
  min-height: 25%;
  gap: 2rem; 
  flex-wrap: wrap; 
}

.section-B-top-box1 {
  flex: 1; 
}

.section-B-top-box1-heading {
  font-size: 2.5rem; 
  font-weight: 400;
}

.section-B-top-box2 {
  display: flex;
  flex-direction: column;
  flex: 1; 
  gap: 0.8rem;
}

.section-B-top-box2-paragraph {
  font-size: 1.5rem; 
  color: rgb(59, 59, 59);
}

.section-B-top-box2-director {
  font-size: 1.6rem; 
  font-weight: 500;
  display: flex;
  align-items: center; 
  gap: 0.5rem; 
}

.section-B-top-box2-director-arrow {
  cursor: pointer;
}

.section-B-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%; 
  min-height: 50%;
  
  flex-wrap: wrap; 
}

.image {
  flex: 1; 
  max-width: 600px; 
}

.middle-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2; 
  gap: 1rem;
}

.inner-images {
  flex: 1; 
}

.inner-image, .outer-image {
  width: 100%;
  height: auto; 
  transition: transform 0.3s ease-in-out;
}

.inner-image:hover, .outer-image:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .section-B-top {
    flex-direction: column; 
    align-items: center;
  }

  .section-B-top-box1, .section-B-top-box2 {
    width: 90%; 
    text-align: center; 
  }
  
  .section-B-top-box1-heading {
    font-size: 2rem; 
  }

  .section-B-top-box2-paragraph {
    font-size: 1.3rem; 
  }
}

@media (max-width: 768px) {
  .section-B-top-box1-heading {
    font-size: 1.8rem; 
  }

  .section-B-top-box2-paragraph {
    font-size: 1.2rem; 
  }

  .middle-image {
    flex-direction: row; 
  }
}

@media (max-width: 480px) {
  .section-B-top-box1-heading {
    font-size: 1.5rem; 
  }

  .section-B-top-box2-paragraph {
    font-size: 1rem; 
  }
}




/* Section C of Home page */
.section-C {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto; 
  gap: 3rem;
}

.section-C-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 2rem;
  flex-wrap: wrap;
}

.section-C-top-info1 {
  width: 60%; 
  text-align: center; 
}

.section-C-top-info1-heading {
  font-size: 2.5rem;
}

.section-C-top-info2 {
  width: 30%;
  display: flex;
  justify-content: center;
}

.section-C-top-info2-button {
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: 0.7rem;
  padding: 0.8rem; 
  font-size: 1.2rem;
}

.section-C-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 1rem;
}

.section-C-bottom-info {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap; 
}

.section-C-bottom-info-img {
  flex: 1 1 30%; 
  max-width: 100%; 
}

.section-C-bottom-images {
  width: 100%;
  height: auto;
}

.section-C-bottom-info-detail {
  flex: 1 1 60%; 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-C-bottom-info-detail h3 {
  font-size: 1.5rem; 
}

.section-C-bottom-info-detail p {
  font-size: 1rem;
}


@media (max-width: 768px) {
  .section-C-top {
      flex-direction: column;
      align-items: center;
  }
  .section-C-bottom {
      flex-direction: column;
  }
  .section-C-bottom-info {
      flex-direction: column; 
      align-items: center;
  }
}




/* Section D of Home page */
.section-D {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 1.9rem;
  margin-top: 4rem;
}

.section-D-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%; 
  max-width: 1200px; 
  height: 50%;
  gap: 1rem; 
  margin-bottom: 2rem;
}

.section-D-top-info1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
}

.review-content {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  text-align: center; 
}

.client-review {
  color: rgb(129, 211, 6);
  font-size: 1.25rem;
  font-weight: 100;
}

.section-D-top-info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 90%;
}

.section-D-top-info2-image {
  width: 100%;
  height: auto; 
}

.leave-review-btn {
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.leave-review-btn:hover {
  background-color: #e6a800;
}

.section-D-top-middle-review-form {
  background-color: white;
  border: 0.0625rem solid #ccc;
  border-radius: 0.625rem;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  max-width: 40rem; 
  width: 90%; 
  margin: 1.25rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.review-form-title {
  color: goldenrod;
  text-align: center;
  margin-bottom: 0.9375rem;
}

.review-form {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  gap: 1.25rem;
}

.review-form-group,
.form-div {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}

.review-form-group label,
.form-div label {
  color: black;
  margin-bottom: 0.3125rem;
}

textarea,
.review-form-inputs {
  padding: 0.625rem;
  border: 0.0625rem solid grey;
  border-radius: 0.3125rem;
  resize: vertical;
  min-height: 6.25rem;
  font-size: 1rem;
}

textarea:focus,
.review-form-inputs:focus,
.review-form-inputs:focus {
  border-color: goldenrod;
  outline: none;
}

button[type="submit"] {
  background-color: goldenrod;
  color: white;
  padding: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #e6a800;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 0.625rem;
}

.feedback-btn {
  background-color: #daa520;
  color: white;
  padding: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.feedback-btn:hover {
  background-color: #e6a800;
}

.section-D-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .section-D-top {
    flex-direction: column;
    align-items: center; 
  }

  .section-D-top-info1, .section-D-top-info2 {
    width: 100%; 
    flex-direction: column; 
    align-items: center; 
  }

  .review-form {
    flex-direction: column; 
    gap: 0.5rem; 
  }

  .section-D-top-middle-review-form {
    padding: 0.9375rem;
  }

  textarea,
  input[type="number"],
  input[type="text"] {
    font-size: 0.875rem;
  }

  button[type="submit"] {
    font-size: 0.875rem; 
  }

  .leave-review-btn {
    font-size: 0.875rem; 
  }
}

