body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.navigation {
  background-color: black;
  color: white;
  width: 100%;
  margin: auto;
  padding-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 1rem 2rem; */
  width: 100%;
}

.logo img {
  width: 150px;
}

.nav-items {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: grey;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.nav-list a.active {
  color: goldenrod;
}

.nav-list a:hover {
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.profile-icon {
  font-size: 2.5rem;
  color: grey;
}

.profile-icon:hover {
  color: goldenrod;
}

.profile-dropdown {
  background-color: black;
  color: white;
  position: absolute;
  top: 4rem;
  right: -4.6rem;
  width: 200px;
  padding: 1rem;
  border: 1px solid goldenrod;
  border-radius: 5px;
  text-align: center;
}

.profile-dropdown p {
  margin: 0.5rem 0;
}

.nav-profile-btn,
.nav-logout-btn,
.nav-login-btn,
.nav-register-btn {
  background-color: grey;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 0.5rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.nav-profile-btn:hover,
.nav-logout-btn:hover,
.nav-login-btn:hover,
.nav-register-btn:hover {
  background-color: goldenrod;
  color: white;
}

@media (max-width: 1024px) {
  .nav-items {
    gap: 1.5rem;
  }

  .profile-icon {
    font-size: 2rem;
  }

  .profile-dropdown {
    width: 180px;
  }
}

.menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.menu-btn:hover {
  color: goldenrod;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between; 
    padding: 1rem;
  }

  .menu-btn {
    display: block;
    font-size: 2.5rem;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    color: grey;
  }

  .nav-items {
    margin-top: 5.3rem;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 1.1rem;
    background-color: black;
    width: 50%;
    padding: 1rem 0;
    border: 1px solid goldenrod;
    border-radius: 5px;
    z-index: 1000;
  }

  .nav-items.active {
    display: flex;
  }

  .nav-list {
    text-align: center;
    margin-bottom: 1rem;
  }

  .profile-dropdown {
    width: 100%;
    top: 3.5rem;
    right: -0.5rem;
    margin-top: 0.7rem;
  }

  .profile-icon {
    font-size: 1.8rem;
  }
}


@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem;
  }

  .logo img {
    width: 100px;
  }

  .menu-btn {
    font-size: 2rem;
  }

  .profile-icon {
    font-size: 1.5rem;
  }

  .profile-dropdown {
    width: 130px;
    top: 3rem;
  }

  .nav-items {
    top: 3rem;
  }
}
