.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register {
  background-color: white;
  width: 64rem;
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.8rem;
  border-radius: 3em;
}

.register-back-arrow {
  margin-bottom: 1rem;
  width: 3rem;
  height: 2rem;
  color: black;
}

.register-logo-image {
  min-height: 30rem;
}

.register-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 25rem;
  min-height: 40vh;
}

.register-section-A {
  margin-bottom: 1rem;
  align-self: start;
}

.register-login:hover {
    color: blue;
    cursor: pointer;
}

.register-section-B {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  min-height: 3rem;
  min-width: 25rem;
}

.register-name-input {
  font-size: 0.92rem;
  padding: 0.3rem;
  min-height: 2.8rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #f3f3f3;
}

.register-section-C {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 3rem;
  min-width: 25rem;
}
.register-email-input {
  min-height: 2.8rem;
  min-width: 24rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #f3f3f3;
  padding: 0.6rem;
  font-size: 1rem;
}

.register-section-D {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 3rem;
  min-width: 25rem;
}

.register-password-input-container {
  position: relative;
}

.register-password-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.register-password-input {
  min-height: 2.8rem;
  min-width: 24rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #f3f3f3;
  padding: 0.6rem;
  font-size: 1rem;
}

.register-error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  background-color: #FFE7E7;
  padding: 0.7rem;
  width: 98%;
  margin: 0.6rem auto;
  border-left: 3px solid red;
  border-radius: 0.8rem;
}

.register-section-E {
  align-self: start;
  margin-left: 0.625rem;
}

.Ts-and-Cs:hover {
    color: blue;
    cursor: pointer;
}

.register-section-F {
  display: flex;
  flex-direction: column;
  min-height: 3rem;
  width: 24rem;
}

.register-button {
  min-height: 2.8rem;
  min-width: 24rem;
  border-radius: 0.8rem;
  border: none;
  background-color: black;
  color: #f3f3f3;
  padding: 0.6rem;
  font-size: 1.3rem;
}

@media (max-width: 1200px) {
  .register {
    width: 80%;
    padding: 1.5rem;
    gap: 2rem;
  }

  .register-logo-image {
    height: 80%;
  }

  .register-inputs input,
  .register-button {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .register {
    width: 90%;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
    border-radius: 2em;
  }

  .register-logo-image {
    max-height: 6rem;
  }

  .register-inputs {
    gap: 0.8rem;
  }

  .register-inputs input,
  .register-button {
    height: 2.5rem;
    font-size: 0.9rem;
  }
  
}

@media (max-width: 480px) {
  .register {
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1em;
  }

  .register-logo-image {
    display: none;
  }

  .register-inputs input,
  .register-button {
    height: 2.4rem;
    font-size: 0.8rem;
  }

  .register-section-F {
    font-size: 0.9rem;
  }
}